body {
    background-color: powderblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  h1 {
    color: navy;
    text-align: center;
  }

  img {
    display: block;
    margin: auto;
  }

  p {
    text-align: center;
  }